
* {
    width: 80%;
}

#main:first-child {
    margin-top: 40px;
}
#main {
    display: flex;
    margin: auto;
    align-items: center;
    margin-bottom: 20px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 1px 2px 20px rgb(177, 174, 174);
    div{
        margin-right: 20px;
    }
    h6 {
        font-size: 15px;
    }

    .img {
        height: 80px;
        width: 250px;
        margin-left: 30px;
        background-color: transparent;

        img {
            border-radius: inherit;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .title {
        // width: 300px;
        display: flex;
        justify-content: center;
        margin-left: 30px;
        font-style: italic;
    }

    .qty {
        display: flex;
        justify-content: end;

    }

    .price {
        display: flex;
        justify-content: end;
    }

    .total {
        display: flex;
        justify-content: end;
    }
}
.grandTotal{
    text-align: end;
    font-size: 20px;
    font-weight: bold;
}