*body{
    margin: 0;
    padding: 0;
}
nav {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #016eff;

    .maindiv {
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        color: white;

        .div1 {
            width: auto;
            display: flex;

            h2 {
                margin-right: 20px;
            }

            input {
                margin-top: 8px;
                padding-left: 8px;
                height: 30px;
                width: 400px;
                border-radius: 6px;
            }
        }

        .div2 {
            margin-top: 5px;

            svg {
                height: 30px;
                width: 40px;
                cursor: pointer;
            }
        }
    }
}

// .maindiv2 {
//     padding-top: 70px;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
//     .div3 {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         margin-right: 10px;
//         margin-left: 10px;
//         margin-bottom: 40px;
//         padding-top: 30px;
//         padding-bottom: 30px;
//         width: 23%;
//         box-shadow: 0px 2px 25px grey;
//         border-radius: 10px;

//         .div4 {
//             border-bottom: 1px solid black;
//             padding-left: 40px;
//             padding-right: 40px;
//             padding-bottom: 20px;
//             margin-bottom: 20px;
//             height: 200px;

//             img {
//                 width: 100%;
//                 height: 100%;
//                 margin-bottom: 10px;
//                 object-fit: contain;
//             }
//         }

//         h5 {
//             padding-left: 20px;
//             padding-right: 20px;
//             margin-bottom: 20px;
//             // font-weight: bold;
//         }

//         .div5 {
//             display: flex;
//             flex-direction: column;
//             justify-content: space-between;
//             .div6 {
//                 padding-left: 20px;
//                 display: flex;

//                 .h4 {
//                     padding-right: 10px;
//                 }

//                 div {
//                     margin-left: 30px;
//                     display: flex;
//                     justify-content: space-around;
//                     width: 100px;

//                     input {
//                         width: 60%;
//                         margin-left: 5px;
//                         margin-right: 10px;
//                         height: 30px;
//                         margin: 0 auto;
//                         text-align: center;
//                     }

//                     svg {
//                         width: 40%;
//                         height: 20px;
//                         margin: 4px auto;
//                     }
//                 }
//             }
//             .lastdiv{
//                 svg{
//                     margin-left: 5px;
//                     margin-right: 5px;
//                     margin-bottom: 4px;
//                     color: red;
//                 }
//             }

//             button {
//                 width: 80%;
//                 margin-left: 30px;
//                 margin-top: 20px;
//                 border-radius: 4px;
//                 background-color: #016eff;
//                 color: white;
//             }
//         }

//     }
// }