.maindiv2 {
    h6 {
        font-size: 13px;
    }

    svg {
        cursor: pointer;
    }
    
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .div3 {
        cursor: pointer;
        height: 320px;
        margin-left: 10px;
        margin-bottom: 30px;
        padding-bottom: 0px;
        padding: 20px;
        width: 20%;
        box-shadow: 0px 2px 25px grey;
        border-radius: 10px;

        .div4 {
            border-bottom: 1px solid black;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 10px;
            height: 150px;
            margin-bottom: 15px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .div5 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .div6 {
                margin-top: 10px;
                display: flex;

                .h4 {
                    padding-right: 10px;

                    :first-child {
                        margin-right: 4px;
                    }
                }

                div {
                    margin-left: 10px;
                    display: flex;
                    justify-content: space-around;
                    width: 100px;

                    input {
                        font-size: 10px;
                        width: 60%;
                        margin-left: 5px;
                        margin-right: 10px;
                        height: 30px;
                        margin: 0 auto;
                        // text-align: center;
                    }

                    svg {
                        width: 40%;
                        height: 20px;
                        margin: 4px auto;
                    }
                }
            }

            .lastdiv {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;
                svg {
                    color: red;
                    cursor: pointer;
                }

                button {
                    width: 90%;
                    border-radius: 4px;
                    background-color: #016eff;
                    color: white;
                }
            }


        }

    }
}