*{
    margin: auto;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    .img{
        margin-top: 50px;
        height: 300px;
        margin-bottom: 50px;
        img{
            height: 100%;
            object-fit: contain;
        }
    }
    .info{
        font-size:22px ;
        font-weight: 500;
        text-align: center;
        :nth-child(3 ){
            // margin-bottom: 20px;
            font-size: 17px;
            font-style: italic;
        }
        :nth-child(1){
            margin-bottom: 20px;
            font-weight: bolder;
            text-decoration: underline;
        }
        :nth-child(2){
            margin-bottom: 20px;
            font-weight: bolder;
        }
        :last-child{
            font-size: 13px;
        }
    }
}